snippet it "it('some statement', function ()...)"
it('$1', () => {
  $0
});
endsnippet

snippet describe "describe('something', function()...)"
describe('$1', () => {
  $0
});
endsnippet

snippet context "context('something', function()...)"
context('$1', () => {
  $0
});
endsnippet
